/**
 * Variables
 * In this file, you can add all the variables you need
 */

// Colors
//...............
$color-red: #e51a2e;
$color-dark-grey: #333;
$color-black: #000;
$color-light-grey: #bbb;
//
//...............
$primary-color: $color-red;
$second-color: $color-dark-grey;
$third-color: $color-black;
$fourth-color: $color-light-grey;
$body-bg: #fff;
$text-color: $second-color;
// Fonts
//...............
$primary-font: "Open Sans",
	helvetica,
	arial,
	sans-serif;
$title-font: "Source Sans Pro",
	sans-serif;
$secondary-font: "Arvo",
	georgia,
	times,
	serif;
$font-size: 16px;
//fonts-type
//...............
$font_thin:"100";
$font_light: "300";
$font_regular:"400";
$font_smbold:"600";
$font_bold:"700";
$font_exbold:"900";
